@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
/* src/Login.css */

.login-box{
	width: 40vh;
	height: 50vh;
	margin: 0 auto;
	margin-top: 20vh;
	border: none;
    border-radius: 20px; 
}
.kakaologin button{
    width: 300px;
    background-color: #e9ca3f;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px; 
    transition: 0.1s linear;
}
.kakaologin button:hover {
    background-color: rgb(179, 145, 8);
    transform: scale(1.02);
}


.login-box h2 {
    color: #00008b;
    font-family: "Ubuntu", sans-serif;
}

p {
    margin-bottom: 8px;
}

.login-box input {
    width: 40vh;
    height: 6vh;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px; 
    border: 1px solid black;
    transition: 0.1s linear;
}

.login-box input:hover{
    transform: scale(1.02);
    border: 1px solid blue;
}

.login-box input::placeholder{
    font-size: 20px;
    font-weight: bold;
}

.login {
    width: 40vh;
    height: 6vh;
    background-color: darkblue;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px; 
    margin-bottom: 1vh;
    transition: 0.1s linear;
}

.login:hover {
    background-color: #0004b6;
    transform: scale(1.02);
}

.loginLink{
    cursor: pointer;
    color: gray;
}
.loginLink:hover{
    color: #9b9b9b;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 회원가입 CSS*/
.input-box{
	width: 600px;
	height: 850px;
	margin: 0 auto;
	margin-top: 5%;
	
    background-color: rgb(213, 217, 220);
    text-align: left;
}
input {
    width: 200px;
    height: 40px;
    
}
#checkBtn{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
    border-color: black;
    background-color: rgb(83, 84, 84);
}
#checkBtn1{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: white;
    border-color: black;
    background-color: rgb(83, 84, 84);
}
select{
    width: 200px;
    height: 40px;
   
}
#phon1{
    width: 90px;
    height: 40px;
}
.input-group{
    margin-left: 10%;
    
}
#year1 {
    width: 90px;
    font-size: 12px;
}
#year2{
    width:10px;
}
h2{
    text-align:center;
}
.signup {
    width: 200px;
    height: 40px;
    border-color: black;
    color: white;
    border-radius: 10px;
    background-color: rgb(79, 80, 80);
}


/* 주차장 CSS */
